/* CLIENTS */
.clients{
padding-bottom: 60px;

@media screen and (min-width:1200px) {
padding-bottom: 94px;
       
   }

}
.clients__title{
padding-top: 60px;
margin-bottom: 30px;
color: $title-color;   
font-weight: $secondary-font-weight;
font-size: 28px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

@media screen and (min-width:1200px) {
   padding-top: 94px;
   margin-bottom: 50px;
   font-size: 36px;       
   }
}
 .clients__field{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   
   
} 
 
.clients__box{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   width: 210px;
   height: 92px; 
   border: 1px solid #AFB1B8;
   border-radius: 4px;
   padding: 16px 52px;
   transition-property:border, transform;
   transition-duration: $duration;
   transition-timing-function: $timing-function;

   @media screen and (min-width:768px){
   width: 226px;
   padding: 16px;
   }

   @media screen and (min-width:1200px){
   width: 170px;
   margin-bottom: 0;
   padding: 16px 32px;
        
   }

    &:hover,
    &:focus{
     border: 1px solid $color-hover;  
    }
 
   // &:hover{
   //    .clients__icon{
   //      fill: $color-hover; 
   //    }
   // }

   //  &:hover .clients__icon,
   //  &:focus .clients__icon{
   //   fill: $color-hover;  
   //  }
}
// .clients__box:hover, 
// .clients__box:focus{
//    border: 1px solid $color-hover;
//   }

// .clients__box:nth-child(2n+1){
//     margin-right: 30px;
// }

.clients__box:nth-child(n+5){
   @media screen and (min-width:480px){
   margin-bottom: 0;
   }
   
   }
   

.clients__box:nth-child(n+4){
@media screen and (min-width:768px){
   margin-bottom: 0;
}

}

.clients__icon{
width: 106px;
height: 60px;
fill: #AFB1B8;
transition-property: fill, transform;
transition-duration: $duration;
transition-timing-function: $timing-function;

  .clients__box:hover &,
  .clients__box:focus &{
     fill: $color-hover; 
  }
}
 
 

/* .clients__icon:hover,
.clients__icon:focus{
   fill: #2196F3;
  
}  */