/* HEADER */
 .navigation{
  position: relative;
    display: flex;
    justify-content: space-between;
   align-items: baseline;
   border-bottom: 1px solid #ECECEC;
   
 }
 .navigation__logo{
  
 display: inline-block;
// margin-right: 276px;

padding-bottom: 16px;
padding-top: 16px;

font-family: $secondary-font-family;
font-weight: $secondary-font-weight;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #2196F3;

@media screen and (min-width:1200px){
 font-size: 26px;
line-height: 1.19;
margin-right: 93px; 
}
@media screen and (min-width:768px){
  margin-right: 88px;
}

 }
 .burger{
  display: inline-flex;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  @media screen and (min-width:768px){
  display: none; 
  }
  
 }
 .burger .burger__cross{
  display: none;
 }
 .burger .is-open .burger__cross{
  display: block;
 }
 .burger .is-open .burger__menu{
  display: none;
 }

 .burger__field{
  
  display: none;
  position: absolute;
  top:100%;
  left:0;
  width: 100%;
  background-color: teal;
  padding: 10px;
  text-align: center;

  &.is-open{
    display: block;
  }
  
  @media screen and (min-width:768px){
  display: none; 
  }
  
 }

  .navigation__mobile{
   display: none;
   
   @media screen and (min-width:768px){
   display: flex;
   }
  }

 .navigation__logo--right{
display: inline-block;
/* padding-top: 24px;
padding-bottom: 25px;  */
color: #000000; }

 .navigation__list{
display: flex;
margin-right: 305px;

font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: $title-color;

 }
.navigation__box{
   display: flex;
   align-items: center;
}
.navigation__line:not(:last-child){
   margin-right: 50px;
}

 /* .navigation__list li:not(:last-child)
  {
      margin-right: 50px;
 } */
 
 .navigation__img{
   margin-right: 10px;
   transition-property: stroke, transform;
   transition-duration: $duration;
   transition-timing-function: $timing-function;
 } 
  
 .navigation__icon:not(:last-child){
   margin-right: 40px;
 }
 
  .navigation__img:hover,
  .navigation__img:focus{
   stroke: $color-hover;
   
}  
   
 .navigation__link{
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   color:$title-color;
   transition-property: color, transform;
   transition-duration: $duration;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus{
  color:$color-hover;
   }
 }
 .navigation__line{
position: relative;


} 
// .navigation__link:hover, 
//  .navigation__link:focus{ 
//    color:$color-hover;  
   
//  }


 .navigation__portfolio,
 .navigation__studio{
   color: $color-hover;
 }
 .navigation__portfolio::after,
 .navigation__studio::after{
   content: "";
   position: absolute;
   left:0;
   bottom: 0;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: currentColor; 
 }
 
 .navigation__contact{
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: $primary-text-color;

 }