
   $primary-text-color:#757575;
   $title-color:#212121;
   $secondary-font-family: Raleway,sans-serif;
   $secondary-font-weight:700;
   $primary-font-family:Roboto,sans-serif;
   $primary-font-weight:400;
   $color-hover:#2196F3;
   $duration:250ms;
   $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

